@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&subset=korean');

* {
    font-family: 'Noto Sans KR', sans-serif;
}

.intro {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("01_layout_main.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-title {
    width: 350px;
    color: #fff;
    z-index: 100;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 3rem;
    background: #a9a9a9;
}

footer > .madeby {
    font-family: 'Nanum Gothic', sans-serif;
}

footer > a {
    color: #fff;
}

footer > a:hover {
    color: #000;
}